<ol class="breadcrumb booking-breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Flight</a></li>
    <li class="breadcrumb-item active">Booking</li>
    <li class="breadcrumb-item active">Booking Complete</li>
</ol>
<h3>Flight - Booking Confirmed</h3>
<hr/>
<!-- Adding a passenger -->
<div class="row">
    <div class="col-lg-8">
        <div class="booking-section col-lg-12">
            <div class="col-lg-12">
                <h4 class="booking-section-heading">Booking Complete</h4>
                <hr/>
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                    <i class="fa fa-thumbs-up confirm-icon" aria-hidden="true"></i>
                </div>
                <div class="col-lg-11 col-md-11">
                    <h6>Thank You. Your Order is Confirmed.</h6>
                    <p>Booking Confirmation Number: FX8-PYT</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                </div>
                <hr/>
                <div class="col-lg-12">
                    <button class="btn btn-default no-border-radius" ng-click="bookAnotherflight();">Book another
                        flight!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="contact-section">
            <div class="col-lg-12">
                <h4 class="details-section-heading">Need Help?</h4>
                <h5>WE WOULD BE HAPPY TO HELP YOU!</h5>
                <h5><i class="fa fa-phone" aria-hidden="true"></i> +1-234-567-8901</h5>

            </div>
        </div>
    </div>
</div>